/*************** main board and overall layout **************/

html,
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.board {
  margin-top: 18px;
  width: 393px;
  animation: flash 1s;
}

.box {
  width: 125px;
  height: 125px;
  border: 3px solid blueviolet;
  flex: 1 0 auto;
  font-size: 115px;
  text-align: center;
  font-weight: 100;
}

#header {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 6px;
  line-height: 61px;
  animation: flash 2s;
  width: 100%;
  margin-top: 44px;
  background-color: #9299c5;
  text-align: center;
  margin: 0px;
  padding: 27px;
  height: 62px;
}

.board .box:hover {
  background-color: thistle;
}

.notify-modal {
  display: none;
  width: 170px;
  height: 150px;
  border: 1px lightblue solid;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #363688;
  color: white;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: flash forwards 1s;
}

#modal {
  display: none;
  opacity: 0.95;
  text-align: center;
  background: #363688;
  color: white;
  animation: flash ease-in 1.3s;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

#modal>.content {
  font-size: 2.7em;
  font-weight: 200;
}

#modal>.score {
  font-size: 1em;
  font-weight: 200;
}

.btn-x {
  width: 100px;
  height: 36px;
  font-size: 1.2em;
  opacity: 1;
}

/***** border adjustments for tic tac toe board ******/

.box:last-child {
  border-right: 0;
}

.box:first-child {
  border-left: 0;
}

.cell:first-child>.box {
  border-top: 0px;
}

.cell:last-child>.box {
  border-bottom: 0px;
}

/**************** @keyframe animations ****************/

@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/******************* @media screen ********************/

@media screen and (max-width: 410px) {
  .board {
    margin-top: 18px;
    width: 268px;
  }
  .box {
    width: 83px;
    height: 83px;
    border: 3px solid blueviolet;
    flex: 1 0 auto;
    font-size: 77px;
    text-align: center;
    font-weight: 100;
  }
  img.sean {
    max-width: 83px;
    height: auto;
  }
  img.square-svg {
    display: flex;
    max-width: 54px;
    height: auto;
    margin: 10px auto;
  }
  #header {
    font-size: 26px !important;
  }

  button {
    width: 135px !important;
    height: 82px !important;
    font-size: 1.0em !important;
  }

  label {
    font-size: 1.0em !important;
  }
}

@media screen and (max-width: 280px) {
  .board {
    margin-top: 18px;
    width: 147px;
  }
  .box {
    width: 43px;
    height: 43px;
    border: 3px solid blueviolet;
    flex: 1 0 auto;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
  }
  img.sean {
    max-width: 43px;
    height: auto;
  }
  img.square-svg {
    display: flex;
    max-width: 23px;
    height: auto;
    margin: 10px auto !important;
  }
  #header {
    font-size: 16px !important;
  }

  button {
    width: 150px !important;
    height: 57px !important;
    font-size: 1.0em !important;
  }

  label {
    font-size: 1.0em !important;
    margin: 0;
  }
  .dropdown-nav {
    flex-direction: column;
    margin-top: 0;
  }

}

/******************* dropdown *********************/

.dropdown-nav {
  width: 408px;
  margin-top: 33px;
  cursor: pointer;
  animation: flash 2s;
}

.container select {
  background-color: lavender;
  color: #2d2c2c;
  width: 111px;
  height: 28px;
  padding: 0;
  border-radius: 0;
  margin: 0 8px;
}

.container label {
  font-size: 1.3em;
  font-weight: lighter;
}

select:disabled {
  opacity: 0.3;
}

.container select:focus {
  outline: none;
}

.selection {
  font-size: 13px;
  color: blueviolet;
}

/********************* buttons ***************************/

button {
  width: 197px;
  height: 91px;
  margin-right: 3px;
  background-color: blueviolet;
  color: white;
  padding: 0;
  font-size: 1.3em;
  font-weight: 300;
  margin-top: 38px;
  cursor: pointer;
  animation: flash 3s;
}

button:disabled {
  opacity: 0.4;
}

.container button:focus {
  outline: none;
}

.actions {
  width: 100%;
  height: 128px;
  margin-left: 0;
}

.container button:hover {
  background-color: lavender;
  color: purple;
}

.container button:active {
  background-color: lightblue;
  color: white;
}

/****************** sean & square ********************/

img.sean {
  width: 125px;
  height: auto;
}

img.square-svg {
  display: flex;
  width: 88px;
  height: auto;
  margin: 18px auto;
}