/*************** main board and overall layout **************/

html,
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.board {
  margin-top: 18px;
  width: 393px;
  animation: flash 3s;
}

@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box {
  width: 125px;
  height: 125px;
  border: 3px solid blueviolet;
  flex: 1 0 auto;
  font-size: 115px;
  text-align: center;
  font-weight: 100;
}

@media screen and (max-width: 390px) {
  .board {
    margin-top: 18px;
    width: 268px;
  }
  .box {
    width: 83px;
    height: 83px;
    border: 3px solid blueviolet;
    flex: 1 0 auto;
    font-size: 77px;
    text-align: center;
    font-weight: 100;
  }
  img.sean {
    max-width: 83px;
    height: auto;
  }
  
  img.square-svg {
    display: flex;
    max-width: 54px;
    height: auto;
    margin: 10px auto;
  }
  #header {
    font-size: 26px !important;
  }
  
  #header::first-letter {
    font-size: 32px !important;
  }
  
  #header span {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 240px) {
  .board {
    margin-top: 18px;
    width: 147px;
  }
  .box {
    width: 43px;
    height: 43px;
    border: 3px solid blueviolet;
    flex: 1 0 auto;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
  }
  img.sean {
    max-width: 43px;
    height: auto;
  }
  
  img.square-svg {
    display: flex;
    max-width: 23px;
    height: auto;
    margin: 10px auto !important;
  }
  #header {
    font-size: 16px !important;
  }
  
  #header::first-letter {
    font-size: 22px !important;
  }
  
  #header span {
    font-size: 7px !important;
  }
}

#header {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 10px;
  animation: flash 2s;
  width: 100%;
  margin-top: 47px;
  background-color: #9299c5;
  text-align: center;
  margin: 0px;
  padding: 24px;
  height: 67px;
}

#header::first-letter {
  font-size: 52px;
  color: blueviolet;
}

#header span {
  font-size: 14px;
  color: white;
  background-color: #d0cbd6;
  border-radius: 5px;
  padding: 5px;
}

.board .box:hover {
  background-color: thistle;
}

/******************* dropdowns *********************/

.dropdown-nav {
  width: 100%;
  max-width: 542px;
  margin-top: 33px;
  cursor: pointer;
  animation: flash 5s;
}

.container select {
  background-color: lavender;
  color: #2d2c2c;
  width: 34%;
  height: 40px;
  padding: 0;
  border-radius: 0;
  margin: 0 11px;
}

.container select:focus {
  outline: none;
}

.selection {
  font-size: 20px;
  color: blueviolet;
}

/********************* Buttons ***************************/

.actions>button {
  background-color: blueviolet;
  color: lightgray;
  width: 34%;
  height: 40px;
  padding: 0;
  border-radius: 0;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 13px;
  cursor: pointer;
  animation: flash 3s;
}

.container button:focus {
  outline: none;
}

.actions {
  width: 100%;
  max-width: 542px;
}

.container button:hover {
  background-color: lavender;
  color: purple;
}

.container button:active {
  background-color: lightblue;
  color: white;
}

/****************** sean & square ********************/

img.sean {
  width: 125px;
  height: auto;
}

img.square-svg {
  display: flex;
  width: 88px;
  height: auto;
  margin: 18px auto;
}

/********************* border adjustments **********************/

#s1 {
  border-top: none;
  border-left: none;
}

#s2 {
  border-top: none;
}

#s3 {
  border-top: none;
  border-right: none;
}

#s4 {
  border-left: none;
}

#s6 {
  border-right: none;
}

#s7 {
  border-left: none;
  border-bottom: none;
}

#s8 {
  border-bottom: none;
}

#s9 {
  border-bottom: none;
  border-right: none;
}
